<div class="col-12">
	<div class="fb-share-button" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
</div>
<section class="col-12 col-md-6">
	<h2 class="mainHeading" data-item="name">
	</h2>
	<div data-item="img" class="text-center">
		<img src="" class="img" />
	</div>
</section>
<section class="col-12 col-md-6">
	<h3 class="mainHeading">
		deadly meter
	</h3>
	<div class="DangerScaleWrap">
		<svg class="DangerScale" viewBox="0 0 120 120">
			<circle class="DangerScaleMeter" cx="60" cy="60" r="54" stroke-width="12" />
			<circle class="DangerScaleValue" cx="60" cy="60" r="54" stroke-width="12" />
		</svg>
		<div class="MeterText"><span data-item="meter"></span></div>
	</div>
</section>
<section class="col-12 Description mt-5 mb-5">
	<h3 class="subHeading">
		Description
	</h3>
	<div data-item="description"> </div>
</section>
<section class="col-12 Location">
	<h3 class="subHeading">
		Location
	</h3>
	<div data-item="lives"> </div>
</section>
<section class="col-12 col-md-6 mt-5 mb-3">
	<h3 class="subHeading">
		how to kill
	</h3>
	<div data-item="kill"></div>
</section>
<section class="col-12 col-md-6 mt-5 mb-3">
	<h3 class="subHeading">
		what it eats
	</h3>
	<div data-item="eats"></div>
</section>  