<div class="col-12 col-md-5">
	<div data-item="name">
		Mike Wazowski
	</div>
	<div data-item="img" class="text-center">
		<img src="monsters/MikeWazowski.jpg" class="img" />
	</div>
</div>
<div class="col-12 col-md-7">
	<h3>
		deadly meter
	</h3>
	<div class="DangerScaleWrap">
		<svg class="DangerScale" viewBox="0 0 120 120">
			<circle class="DangerScaleMeter" cx="60" cy="60" r="54" stroke-width="12" />
			<circle class="DangerScaleValue" cx="60" cy="60" r="54" stroke-width="12" />
		</svg>
		<div class="MeterText"><span data-item="meter">404</span>%</div>
	</div>
</div>

<div class="col-12">
	<h3>
		Description
	</h3>
	<div data-item="description">Mike Wazowski is a proud and confident monster, partly defined by his friendship with James P. Sullivan, whom he works with as his Scaring Assistant, and drives him through an exercise regimen like a strict coach. </div>
</div>
<div class="col-12">
	<h3>
		Location
	</h3>
	<div data-item="lives">Living... in an apartment in Monstropolis with his co-worker and best friend, James "Sulley" Sullivan.</div>
</div>

<div class="col-12 col-md-6">
	<h3>
		how to kill
	</h3>
	<div data-item="kill">The only thing that can kill Mike is sadness. :(</div>
</div>
<div class="col-12 col-md-6">
	<h3>
		what it eats
	</h3>
	<div data-item="eats">Pizza and the smile of little kids....</div>
</div>